BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SpacesInLineCommentPrefix:
  Minimum: 2
  Maximum: 2
